Repository VicXue/COMP90024_Assignment2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @VicXue, @UniMelbQuanchi, @zixiqin, @MengyanZh, @zmu1

.github/CODEOWNERS:

# Ensure PR from memebers 
/playbook/ @VicXue
/backend/ @UniMelbQuanchi @VicXue
/harvester/ @UniMelbQuanchi @zixiqin @MengyanZh @VicXue
/frontend/ @zmu1 @VicXue

Refactor harvester/requirements.txt
  harvester/requirements.txt
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

Add dependency
  harvester/requirements.txt
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

Remove an unnecessary declaration
  harvester/requirements.txt
  harvester/skeleton.py
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

Move the skeleton code of Harvester to harvester/main.py
  harvester/main.py
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

Remove an unnecessary declaration
  harvester/requirements.txt
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

chore: update Dockerfile to use main as entrypoint
  playbook/roles/harvester-deploy/templates/Dockerfile.prod.j2
Owners: @VicXue

feat: allow to remove db stack
  playbook/roles/couchdb-stack-deploy/tasks/main.yaml
Owners: @VicXue

feat: add new config for photon
  playbook/roles/couchdb-common/templates/couchdb_config.ini.j2
Owners: @VicXue

fix: get couchdb container name only
  playbook/roles/couchdb-cluster-setup/tasks/main.yaml
Owners: @VicXue

feat: add photon
  playbook/roles/couchdb-cluster-join/tasks/main.yaml
Owners: @VicXue

feat: add skeleton for twitter analyzer
  twitter-analyzer/README.md
  twitter-analyzer/main.py
  twitter-analyzer/util.py
Owners: none

feat: add 2 emotional analysis for sample analyzer
  twitter-analyzer/main.py
  twitter-analyzer/util.py
Owners: none

feat: sketchy google map implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/GoogleMap/GoogleMap.css
  frontend/src/components/GoogleMap/GoogleMap.js
Owners: @zmu1, @VicXue

chore: remove unused test file
  frontend/src/App.test.js
Owners: @zmu1, @VicXue

feat: hide api key
  frontend/src/components/GoogleMap/GoogleMap.js
Owners: @zmu1, @VicXue

feat: update project file
  frontend/package-lock.json
  frontend/src/App.js
Owners: @zmu1, @VicXue

feat: update deployment pipeline
  playbook/roles/frontend-react-deploy/tasks/main.yaml
  playbook/roles/frontend-react-deploy/templates/.env.j2
Owners: @VicXue

feat: modify key words set for sample analyzer
  twitter-analyzer/util.py
Owners: none

feat: modify key wds and stored dt in spl analyzer
  twitter-analyzer/main.py
  twitter-analyzer/util.py
Owners: none

Harvester done; have problem in Output size limit.
  harvester/harvester_util.py
  harvester/main.py
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

feat: update deployment pipeline
  playbook/roles/harvester-deploy/tasks/main.yaml
  playbook/roles/harvester-deploy/templates/Dockerfile.prod.j2
  playbook/roles/harvester-deploy/templates/docker-compose.yaml.j2
  playbook/variables/harvester-vars.yaml
Owners: @VicXue

feat: update the requirements file
  harvester/requirements.txt
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

feat: somehow need this
  harvester/harvester_util.py
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

feat: fetch details from env vars
  harvester/main.py
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

feat: Place Marker based on place name
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/GoogleMap/GoogleMap.js
  frontend/src/foo/foo.json
Owners: @zmu1, @VicXue

Extend .gitignore
  .gitignore
Owners: none

Refactor harvester/main.py
  harvester/main.py
Owners: @UniMelbQuanchi, @zixiqin, @MengyanZh, @VicXue

feat: modify gcc code in tw analyzer
  twitter-analyzer/main.py
  twitter-analyzer/util.py
Owners: none

add anotation for sentiment score
  twitter-analyzer/util.py
Owners: none
